<template>
    <section class="gallery-container" ref="stage">
        <div class="gallery-box">
            <!--Компонент изображения -->
            <template v-for="(position, index) in positions">
                <image-figure ref="imageFigure"
                              :index="index"
                              :data="pictureDatas[index]"
                              :position="position"
                              @center="center"
                              @inverse="inverse"
                />
            </template>
        </div>
        <footer>
            <nav class="gallery-controller">
                <template v-for="(position, index) in positions">
                    <image-controller
                        :index="index"
                        :position="position"
                        @center="center"
                        @inverse="inverse"
                    />
                </template>
            </nav>

            <image-search @center="center" @inverse="inverse"/>
        </footer>
    </section>
</template>

<script>
    import data from "../data/picture.json"
    import ImageFigure from "./ImageFigure.vue"
    import ImageController from "./ImageController.vue"
    import ImageSearch from "./ImageSearch.vue"

    let pictureDatas = [];
    (function createPictures(pictureDatas) {
//Получить изображение src
        data.forEach(value => {
            value.src = require("../images/" + value.name);
            pictureDatas.push(value);
        });
    })(pictureDatas);

    /**
     * Получить случайное число из диапазона
     */
    function randomPosition(start, end) {
        return Math.floor(Math.random() * (end - start)) + start;
    }

    /**
     * Получить угол поворота в случайном порядке
     */
    function randomRotate(deg) {
        let randomDeg = Math.ceil(Math.random() * deg);
        return (Math.floor(Math.random() * 2) === 0 ? "-" : "") + randomDeg;
    }

    export default {
        name: "gallery",
        data: function () {
            return {
                pictureDatas,
                positions: []
            }
        },
        components: {
            ImageSearch,
            ImageFigure,
            ImageController
        },
        methods: {
            initPosition,
            allocationPosition,
            /**
             * Переверниуть соответствующий индексу снимок
             */
            inverse(index) {
                let position = this.positions[index];
                position.inverse = !position.inverse;
                this.positions.splice(index, 1, position);
                console.count("inverse:" + index);
            },
            /**
             * Центрированное изображение соответствующего местоположения
             */
            center(index) {
                this.allocationPosition(index);
            }
        },
        created: function () {
            //Определить местоположения
            this.position = {
                centerPosition: {  //Расположение центра
                    left: 0,
                    top: 0,
                },
                horizontalPosition: {  //Горизонтальное положение
                    left: [0, 0],  //Левая половина
                    right: [0, 0],  //Правая половина
                    center: [0, 0]  //Позиция центера
                },
                verticalPosition: {  //вертикальное положение
                    y: [0, 0],  //левая и правая области
                    center: [0, 0]  //центральная область
                }
            };

            pictureDatas.forEach((value, index) => {
                this.positions[index] = {
                    left: 0,
                    top: 0,
                    rotate: 0,
                    center: false,
                    inverse: false
                };
            });
        },
        mounted: function () {
            this.initPosition();
            this.allocationPosition(0);
        }
    }

    //Инициализациия позицый
    function initPosition() {
        let stageDOM = this.$refs.stage,
            stageW = stageDOM.offsetWidth,
            stageH = stageDOM.offsetHeight;

        //Получить корневой элемент первого компонента ImageFigure
        let imageFigureDOM = this.$refs.imageFigure[0].$el,
            imageFigureW = imageFigureDOM.offsetWidth,
            imageFigureH = imageFigureDOM.offsetHeight;

        //Вычислите диапазон значений левого, правого и центрального положения
        this.position.centerPosition.left = (stageW - imageFigureW) / 2;
        this.position.centerPosition.top = (stageH - imageFigureH) / 2;

        this.position.horizontalPosition.left[0] = -imageFigureW / 2;
        this.position.horizontalPosition.left[1] = stageW / 2 - imageFigureW / 2 * 3;
        this.position.horizontalPosition.right[0] = stageW / 2 + imageFigureW;
        this.position.horizontalPosition.right[1] = stageW - imageFigureW / 2;
        this.position.verticalPosition.y[0] = -imageFigureH / 2;
        this.position.verticalPosition.y[1] = stageH - imageFigureH;

        //Вычислить диапазон значений местоположения верхней области
        this.position.horizontalPosition.center[0] = stageW / 2 - imageFigureW;
        this.position.horizontalPosition.center[1] = stageW / 2;
        this.position.verticalPosition.center[0] = -imageFigureH / 2;
        this.position.verticalPosition.center[1] = stageH / 2 - imageFigureH / 2 * 3;
    }

    function allocationPosition(index) {
        let centerPosition = this.position.centerPosition,
            horizontalPosition = this.position.horizontalPosition,
            verticalPosition = this.position.verticalPosition;

        let positions = this.positions;

        //Удалите местоположение центрального изображения
        let centerImageFigures = positions.splice(index, 1);

        //Установите расположение центрального изображения
        centerImageFigures[0] = {
            left: centerPosition.left,
            top: centerPosition.top,
            rotate: 0,
            center: true,
            inverse: false
        };

        let topIndex = 0, topSize = Math.floor(Math.random() * 2), //Получите 0 или 1 случайным образом
            topImageFigures = [];
        if (topSize > 0) {
            //Случайно извлекайте индекс после удаления центрального изображения
            topIndex = Math.floor(Math.random() * positions.length - 1);
            topImageFigures = positions.splice(topIndex, 1);
            //Установите расположение верхнего изображения
            topImageFigures[0] = {
                left: randomPosition(
                    horizontalPosition.center[0],
                    horizontalPosition.center[1]),
                top: randomPosition(
                    verticalPosition.center[0],
                    verticalPosition.center[1]),
                rotate: randomRotate(30),
                center: false,
                inverse: false
            }
        }

        //Задайте расположение изображений с обеих сторон
        for (let i = 0, len = positions.length, f = Math.floor(len / 2); i < len; i++) {
            let p = {};
            if (i < f) {
                p.left = randomPosition(
                    horizontalPosition.left[0],
                    horizontalPosition.left[1]
                );
            } else {
                p.left = randomPosition(
                    horizontalPosition.right[0],
                    horizontalPosition.right[1]
                );
            }
            p.top = randomPosition(verticalPosition.y[0], verticalPosition.y[1]);
            p.rotate = randomRotate(30);
            p.center = false;
            p.inverse = false;

            positions[i] = p;
        }

        //Вставить верхнее положение изображения, возможно, не существует
        topImageFigures.forEach(v => {
            positions.splice(topIndex, 0, v);
        });

        //Вставьте центральное положение изображения, обратите внимание на вставку в положение изображения верхней области
        positions.splice(index, 0, centerImageFigures[0]);
    }
</script>

<style scoped>
    .gallery-container {
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%;
        height: 100%;
        background: #EEEEEE;
    }

    .gallery-box {
        position: relative;
        height: 100%;
        overflow: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px;
    }

    footer {
        display: grid;
        grid-template-areas: "footer footer";
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        position: absolute;
        z-index: 999;
        bottom: 30px;
        width: 100%;

    }

</style>
