<template>
    <div id="gallerySearch">
        <input v-model="text" class="searchText" placeholder="поиск">
        <img :src="inverseSrc" class="inverse-icon" :alt="inverse" @click.prevent.stop="onRefreshClick"/>
    </div>
</template>
<script>
    import menu from "../data/picture.json"
    import inverseSrc from "../assets/inverse.svg"

    export default {
        name: "imageSearch",
        data: function () {
            return {
                inverseSrc: inverseSrc,
                text: ''
            };
        },

        methods: {
            onRefreshClick() {
                //this.$emit("center", 0);
                this.$emit("inverse", 0);
            }
        },

        watch: {
            text: function (newsValue, oldValue) {
                if (newsValue.length >= 3 && newsValue !== oldValue) {
                    this.$emit("center", 1);
                }
            }
        }
    }
</script>

<style scoped>

    #gallerySearch {
        /*margin-left: 5px;*/
    }

    .searchText {
        border-radius: 10px;
        text-align: center;
        border: solid 1px #ccc;
        outline: none;
    }

    .searchText:focus {
        border-radius: 10px;
        border-color: #cc9589;
    }

</style>
