<template>
    <figure class="gallery-figure" :class="className" :style="styleObject" @click.prevent.stop="handleClick">
        <img :src="imageData.src" class="gallery-image" :alt="imageData.name"/>
        <figcaption class="image-title">
            {{imageData.title}}
        </figcaption>
        <div class="image-description">
            {{imageData.description}}
        </div>
    </figure>
</template>

<script>
    export default {
        name: "imageFigure",
        props: ["index", "data", "position", "center", "inverse"],
        data: function () {
            return {
                className: "",
                imageData: this.data  //Получить данные, переданные родительским компонентом как локальное свойство
            }
        },
        computed: {
            styleObject: function () {   //Используйте рассчитанные свойства. Автоматически обновлять свойство styleObject, когда позиция, переданная родительским компонентом, изменяется
                let position = this.position;
                let styleObject = {
                    left: position.left + "px",
                    top: position.top + "px"
                };
                if (position.rotate !== 0) {
                    styleObject["WebkitTransform"] = "rotate(" + position.rotate + "deg)";
                    styleObject["transform"] = "rotate(" + position.rotate + "deg)";
                }
                if (position.center === true) styleObject.zIndex = 101;

                this.className = (position.inverse === true ? " inverse" : "");
                return styleObject;
            }
        },
        methods: {
            handleClick: function () {
                if (this.position.center !== true) {
                    //Событие триггерного центра, текущее изображение помещается в середину
                    this.$emit("center", this.index)
                } else {
                    //Триггерное обратное событие для переворота текущего изображения
                    this.$emit("inverse", this.index);
                }
            }
        }
    }
</script>

<style scoped>
    /*
     * Стили изображения
     */
    .gallery-figure {
        position: absolute;
        z-index: 100;
        width: 320px;
        height: 360px;
        padding: 40px;
        margin: 0;
        background-color: #FFFFFF;
        box-sizing: border-box;
        color: #555555;
        cursor: pointer;
        -webkit-transition: transform .6s ease-in-out,
        left .6s ease-in-out, top .6s ease-in-out;
        transition: transform .6s ease-in-out,
        left .6s ease-in-out, top .6s ease-in-out;
        /*3d вращение. Указывает, что дочерние элементы преобразуются родительскими элементами*/
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .gallery-image {
        width: 240px;
        height: 250px;
    }

    .image-title {
        font-size: 16px;
        margin-top: 10px;
        height: 60px;
        text-align: center;
    }

    .image-description {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 40px;
        box-sizing: border-box;
        background-color: #FFFFFF;
        /*
         * translateZ(1px) Перемещение по оси Z на 1 пиксель ниже изображения
       * Переверните на 180 градусов при переворачивании, чтобы добавить обратный
       * На этом этапе над изображением
         */
        -webkit-transform: rotateY(180deg) translateZ(1px);
        transform: rotateY(180deg) translateZ(1px);
    }

    .gallery-figure.inverse {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    /**
     * Удалите эффект обработки фонового эффекта клика мобильного терминала
     */
    @media screen and (max-width: 768px) {
        .gallery-figure {
            cursor: default;
        }
    }
</style>
